# Source files
src/
examples/

# Development files
.git/
.gitignore
.npmignore
.editorconfig
.eslintrc
.prettierrc
tsconfig.json
bun.lockb
bun-experiment/*
# Test files
__tests__/
*.test.ts
*.spec.ts

# Documentation
docs/
*.md
!README.md

# Build files
dist/
build/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 